LigaManagerBettorClient/Connected Services/BettorClientService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/LigaManagerServer.Models" />
  <xs:element name="GetMatches">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LigaManagerServer.Models" minOccurs="0" name="season" nillable="true" type="q1:Season" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMatchesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LigaManagerServer.Models" minOccurs="0" name="GetMatchesResult" nillable="true" type="q2:ArrayOfMatch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBets">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LigaManagerServer.Models" minOccurs="0" name="bettor" nillable="true" type="q3:Bettor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LigaManagerServer.Models" minOccurs="0" name="GetBetsResult" nillable="true" type="q4:ArrayOfBet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBettors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBettorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/LigaManagerServer.Models" minOccurs="0" name="GetBettorsResult" nillable="true" type="q5:ArrayOfBettor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBettor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nickname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBettorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/LigaManagerServer.Models" minOccurs="0" name="GetBettorResult" nillable="true" type="q6:Bettor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSeasons">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSeasonsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/LigaManagerServer.Models" minOccurs="0" name="GetSeasonsResult" nillable="true" type="q7:ArrayOfSeason" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeams">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/LigaManagerServer.Models" minOccurs="0" name="season" nillable="true" type="q8:Season" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/LigaManagerServer.Models" minOccurs="0" name="GetTeamsResult" nillable="true" type="q9:ArrayOfSeasonToTeamRelation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsValidNickname">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsValidNicknameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsValidNicknameResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/LigaManagerServer.Models" minOccurs="0" name="bet" nillable="true" type="q10:Bet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddBetResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeBet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/LigaManagerServer.Models" minOccurs="0" name="bet" nillable="true" type="q11:Bet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeBetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangeBetResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/LigaManagerServer.Models" minOccurs="0" name="match" nillable="true" type="q12:Match" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/LigaManagerServer.Models" minOccurs="0" name="bettor" nillable="true" type="q13:Bettor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/LigaManagerServer.Models" minOccurs="0" name="GetBetResult" nillable="true" type="q14:Bet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>