LigaManagerBettorClient/Connected Services/BettorClientService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BettorClientService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/LigaManagerServer.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBettorClientService_IsOpen_InputMessage">
    <wsdl:part name="parameters" element="tns:IsOpen" />
  </wsdl:message>
  <wsdl:message name="IBettorClientService_IsOpen_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsOpenResponse" />
  </wsdl:message>
  <wsdl:message name="IBettorClientService_GetMatches_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMatches" />
  </wsdl:message>
  <wsdl:message name="IBettorClientService_GetMatches_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMatchesResponse" />
  </wsdl:message>
  <wsdl:message name="IBettorClientService_GetBets_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBets" />
  </wsdl:message>
  <wsdl:message name="IBettorClientService_GetBets_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBetsResponse" />
  </wsdl:message>
  <wsdl:message name="IBettorClientService_GetAllBets_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBets" />
  </wsdl:message>
  <wsdl:message name="IBettorClientService_GetAllBets_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBetsResponse" />
  </wsdl:message>
  <wsdl:message name="IBettorClientService_GetBettors_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBettors" />
  </wsdl:message>
  <wsdl:message name="IBettorClientService_GetBettors_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBettorsResponse" />
  </wsdl:message>
  <wsdl:message name="IBettorClientService_GetBettor_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBettor" />
  </wsdl:message>
  <wsdl:message name="IBettorClientService_GetBettor_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBettorResponse" />
  </wsdl:message>
  <wsdl:message name="IBettorClientService_GetSeasons_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSeasons" />
  </wsdl:message>
  <wsdl:message name="IBettorClientService_GetSeasons_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSeasonsResponse" />
  </wsdl:message>
  <wsdl:message name="IBettorClientService_GetTeams_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTeams" />
  </wsdl:message>
  <wsdl:message name="IBettorClientService_GetTeams_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTeamsResponse" />
  </wsdl:message>
  <wsdl:message name="IBettorClientService_GetAllTeams_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTeams" />
  </wsdl:message>
  <wsdl:message name="IBettorClientService_GetAllTeams_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTeamsResponse" />
  </wsdl:message>
  <wsdl:message name="IBettorClientService_IsValidNickname_InputMessage">
    <wsdl:part name="parameters" element="tns:IsValidNickname" />
  </wsdl:message>
  <wsdl:message name="IBettorClientService_IsValidNickname_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsValidNicknameResponse" />
  </wsdl:message>
  <wsdl:message name="IBettorClientService_AddBet_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBet" />
  </wsdl:message>
  <wsdl:message name="IBettorClientService_AddBet_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBetResponse" />
  </wsdl:message>
  <wsdl:message name="IBettorClientService_ChangeBet_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeBet" />
  </wsdl:message>
  <wsdl:message name="IBettorClientService_ChangeBet_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeBetResponse" />
  </wsdl:message>
  <wsdl:message name="IBettorClientService_GetBet_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBet" />
  </wsdl:message>
  <wsdl:message name="IBettorClientService_GetBet_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBetResponse" />
  </wsdl:message>
  <wsdl:message name="IBettorClientService_GetAllRankedBettors_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRankedBettors" />
  </wsdl:message>
  <wsdl:message name="IBettorClientService_GetAllRankedBettors_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRankedBettorsResponse" />
  </wsdl:message>
  <wsdl:message name="IBettorClientService_GetRankedBettors_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRankedBettors" />
  </wsdl:message>
  <wsdl:message name="IBettorClientService_GetRankedBettors_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRankedBettorsResponse" />
  </wsdl:message>
  <wsdl:message name="IBettorClientService_GetAllRankedTeams_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRankedTeams" />
  </wsdl:message>
  <wsdl:message name="IBettorClientService_GetAllRankedTeams_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRankedTeamsResponse" />
  </wsdl:message>
  <wsdl:message name="IBettorClientService_GetRankedTeams_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRankedTeams" />
  </wsdl:message>
  <wsdl:message name="IBettorClientService_GetRankedTeams_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRankedTeamsResponse" />
  </wsdl:message>
  <wsdl:portType name="IBettorClientService">
    <wsdl:operation name="IsOpen">
      <wsdl:input wsaw:Action="http://tempuri.org/ILigaManagerService/IsOpen" message="tns:IBettorClientService_IsOpen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILigaManagerService/IsOpenResponse" message="tns:IBettorClientService_IsOpen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMatches">
      <wsdl:input wsaw:Action="http://tempuri.org/ILigaManagerService/GetMatches" message="tns:IBettorClientService_GetMatches_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILigaManagerService/GetMatchesResponse" message="tns:IBettorClientService_GetMatches_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBets">
      <wsdl:input wsaw:Action="http://tempuri.org/ILigaManagerService/GetBets" message="tns:IBettorClientService_GetBets_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILigaManagerService/GetBetsResponse" message="tns:IBettorClientService_GetBets_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllBets">
      <wsdl:input wsaw:Action="http://tempuri.org/ILigaManagerService/GetAllBets" message="tns:IBettorClientService_GetAllBets_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILigaManagerService/GetAllBetsResponse" message="tns:IBettorClientService_GetAllBets_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBettors">
      <wsdl:input wsaw:Action="http://tempuri.org/ILigaManagerService/GetBettors" message="tns:IBettorClientService_GetBettors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILigaManagerService/GetBettorsResponse" message="tns:IBettorClientService_GetBettors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBettor">
      <wsdl:input wsaw:Action="http://tempuri.org/ILigaManagerService/GetBettor" message="tns:IBettorClientService_GetBettor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILigaManagerService/GetBettorResponse" message="tns:IBettorClientService_GetBettor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSeasons">
      <wsdl:input wsaw:Action="http://tempuri.org/ILigaManagerService/GetSeasons" message="tns:IBettorClientService_GetSeasons_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILigaManagerService/GetSeasonsResponse" message="tns:IBettorClientService_GetSeasons_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTeams">
      <wsdl:input wsaw:Action="http://tempuri.org/ILigaManagerService/GetTeams" message="tns:IBettorClientService_GetTeams_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILigaManagerService/GetTeamsResponse" message="tns:IBettorClientService_GetTeams_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTeams">
      <wsdl:input wsaw:Action="http://tempuri.org/ILigaManagerService/GetAllTeams" message="tns:IBettorClientService_GetAllTeams_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILigaManagerService/GetAllTeamsResponse" message="tns:IBettorClientService_GetAllTeams_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsValidNickname">
      <wsdl:input wsaw:Action="http://tempuri.org/IBettorClientService/IsValidNickname" message="tns:IBettorClientService_IsValidNickname_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBettorClientService/IsValidNicknameResponse" message="tns:IBettorClientService_IsValidNickname_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddBet">
      <wsdl:input wsaw:Action="http://tempuri.org/IBettorClientService/AddBet" message="tns:IBettorClientService_AddBet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBettorClientService/AddBetResponse" message="tns:IBettorClientService_AddBet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeBet">
      <wsdl:input wsaw:Action="http://tempuri.org/IBettorClientService/ChangeBet" message="tns:IBettorClientService_ChangeBet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBettorClientService/ChangeBetResponse" message="tns:IBettorClientService_ChangeBet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBet">
      <wsdl:input wsaw:Action="http://tempuri.org/IBettorClientService/GetBet" message="tns:IBettorClientService_GetBet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBettorClientService/GetBetResponse" message="tns:IBettorClientService_GetBet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllRankedBettors">
      <wsdl:input wsaw:Action="http://tempuri.org/IBettorClientService/GetAllRankedBettors" message="tns:IBettorClientService_GetAllRankedBettors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBettorClientService/GetAllRankedBettorsResponse" message="tns:IBettorClientService_GetAllRankedBettors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRankedBettors">
      <wsdl:input wsaw:Action="http://tempuri.org/IBettorClientService/GetRankedBettors" message="tns:IBettorClientService_GetRankedBettors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBettorClientService/GetRankedBettorsResponse" message="tns:IBettorClientService_GetRankedBettors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllRankedTeams">
      <wsdl:input wsaw:Action="http://tempuri.org/IBettorClientService/GetAllRankedTeams" message="tns:IBettorClientService_GetAllRankedTeams_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBettorClientService/GetAllRankedTeamsResponse" message="tns:IBettorClientService_GetAllRankedTeams_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRankedTeams">
      <wsdl:input wsaw:Action="http://tempuri.org/IBettorClientService/GetRankedTeams" message="tns:IBettorClientService_GetRankedTeams_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBettorClientService/GetRankedTeamsResponse" message="tns:IBettorClientService_GetRankedTeams_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBettorClientService" type="tns:IBettorClientService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsOpen">
      <soap:operation soapAction="http://tempuri.org/ILigaManagerService/IsOpen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMatches">
      <soap:operation soapAction="http://tempuri.org/ILigaManagerService/GetMatches" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBets">
      <soap:operation soapAction="http://tempuri.org/ILigaManagerService/GetBets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllBets">
      <soap:operation soapAction="http://tempuri.org/ILigaManagerService/GetAllBets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBettors">
      <soap:operation soapAction="http://tempuri.org/ILigaManagerService/GetBettors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBettor">
      <soap:operation soapAction="http://tempuri.org/ILigaManagerService/GetBettor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSeasons">
      <soap:operation soapAction="http://tempuri.org/ILigaManagerService/GetSeasons" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTeams">
      <soap:operation soapAction="http://tempuri.org/ILigaManagerService/GetTeams" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTeams">
      <soap:operation soapAction="http://tempuri.org/ILigaManagerService/GetAllTeams" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsValidNickname">
      <soap:operation soapAction="http://tempuri.org/IBettorClientService/IsValidNickname" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBet">
      <soap:operation soapAction="http://tempuri.org/IBettorClientService/AddBet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeBet">
      <soap:operation soapAction="http://tempuri.org/IBettorClientService/ChangeBet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBet">
      <soap:operation soapAction="http://tempuri.org/IBettorClientService/GetBet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllRankedBettors">
      <soap:operation soapAction="http://tempuri.org/IBettorClientService/GetAllRankedBettors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRankedBettors">
      <soap:operation soapAction="http://tempuri.org/IBettorClientService/GetRankedBettors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllRankedTeams">
      <soap:operation soapAction="http://tempuri.org/IBettorClientService/GetAllRankedTeams" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRankedTeams">
      <soap:operation soapAction="http://tempuri.org/IBettorClientService/GetRankedTeams" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BettorClientService">
    <wsdl:port name="BasicHttpBinding_IBettorClientService" binding="tns:BasicHttpBinding_IBettorClientService">
      <soap:address location="http://localhost/LigaManagerServer/BettorClientService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>