LigaManagerAdminClient/Connected Services/AdminClientService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/LigaManagerServer.Models" />
  <xs:element name="IsOpen">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsOpenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsOpenResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMatches">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LigaManagerServer.Models" minOccurs="0" name="season" nillable="true" type="q1:Season" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMatchesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LigaManagerServer.Models" minOccurs="0" name="GetMatchesResult" nillable="true" type="q2:ArrayOfMatch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBets">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LigaManagerServer.Models" minOccurs="0" name="bettor" nillable="true" type="q3:Bettor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LigaManagerServer.Models" minOccurs="0" name="GetBetsResult" nillable="true" type="q4:ArrayOfBet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBets">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/LigaManagerServer.Models" minOccurs="0" name="GetAllBetsResult" nillable="true" type="q5:ArrayOfBet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBettors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBettorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/LigaManagerServer.Models" minOccurs="0" name="GetBettorsResult" nillable="true" type="q6:ArrayOfBettor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBettor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nickname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBettorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/LigaManagerServer.Models" minOccurs="0" name="GetBettorResult" nillable="true" type="q7:Bettor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSeasons">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSeasonsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/LigaManagerServer.Models" minOccurs="0" name="GetSeasonsResult" nillable="true" type="q8:ArrayOfSeason" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSeasonToTeamRelation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/LigaManagerServer.Models" minOccurs="0" name="season" nillable="true" type="q9:Season" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSeasonToTeamRelationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/LigaManagerServer.Models" minOccurs="0" name="GetSeasonToTeamRelationResult" nillable="true" type="q10:ArrayOfSeasonToTeamRelation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSeasonToTeamRelation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSeasonToTeamRelationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/LigaManagerServer.Models" minOccurs="0" name="GetAllSeasonToTeamRelationResult" nillable="true" type="q11:ArrayOfSeasonToTeamRelation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTeams">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTeamsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/LigaManagerServer.Models" minOccurs="0" name="GetAllTeamsResult" nillable="true" type="q12:ArrayOfTeam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBettor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/LigaManagerServer.Models" minOccurs="0" name="bettor" nillable="true" type="q13:Bettor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBettorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddBettorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBettor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/LigaManagerServer.Models" minOccurs="0" name="bettor" nillable="true" type="q14:Bettor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBettorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateBettorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBettor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/LigaManagerServer.Models" minOccurs="0" name="bettor" nillable="true" type="q15:Bettor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBettorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteBettorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTeam">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/LigaManagerServer.Models" minOccurs="0" name="team" nillable="true" type="q16:Team" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTeamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTeamResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTeam">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/LigaManagerServer.Models" minOccurs="0" name="team" nillable="true" type="q17:Team" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTeamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateTeamResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTeam">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/LigaManagerServer.Models" minOccurs="0" name="team" nillable="true" type="q18:Team" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTeamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTeamResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSeason">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/LigaManagerServer.Models" minOccurs="0" name="season" nillable="true" type="q19:Season" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSeasonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteSeasonResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSeason">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/LigaManagerServer.Models" minOccurs="0" name="season" nillable="true" type="q20:Season" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSeasonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSeasonResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSeason">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/LigaManagerServer.Models" minOccurs="0" name="season" nillable="true" type="q21:Season" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSeasonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSeasonResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/LigaManagerServer.Models" minOccurs="0" name="match" nillable="true" type="q22:Match" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteMatchResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/LigaManagerServer.Models" minOccurs="0" name="match" nillable="true" type="q23:Match" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddMatchResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/LigaManagerServer.Models" minOccurs="0" name="match" nillable="true" type="q24:Match" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateMatchResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSeasonToTeamRelation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/LigaManagerServer.Models" minOccurs="0" name="seasonToTeamRelation" nillable="true" type="q25:SeasonToTeamRelation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSeasonToTeamRelationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSeasonToTeamRelationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSeasonToTeamRelation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/LigaManagerServer.Models" minOccurs="0" name="seasonToTeamRelation" nillable="true" type="q26:SeasonToTeamRelation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSeasonToTeamRelationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteSeasonToTeamRelationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateMatches">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/LigaManagerServer.Models" minOccurs="0" name="season" nillable="true" type="q27:Season" />
        <xs:element minOccurs="0" name="beginDateTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDateTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateMatchesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenerateMatchesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMatchDay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlElement" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/LigaManagerServer.Models" minOccurs="0" name="selectedSeason" nillable="true" type="q28:Season" />
        <xs:element minOccurs="0" name="matchday" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMatchDayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddMatchDayResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>